extends layout

block content
  #wrapper
    #logo
      img(src='/images/coffee.jpg')
    #display
      include userbar
      
      p The #{name.toLowerCase()} is one of the must-have coffee beans. It costs just $#{price} at our store.
      p Buy it today!
      
    include footer
